.headerWrapper {
  position: relative;
}

.heroImg {
  position: absolute;
  top: 0;
  bottom: 55%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.image {
  object-fit: cover;
  object-position: top;
}

@media screen and (min-width: 600px) {
  .heroImg {
    bottom: 26%;
  }
}