.heroWrapper {
  padding-top: 20px;
}

.heroTitle {
  /* font-family: var(--bold-black-font); */
  font-size: 4.444rem;
  line-height: 1.2;
  /* text-shadow: 4px -2px 0 var(--light); */
}

.heroDesc {
  margin-block: 2rem;
  font-style: italic;
}

.heroBtns > button {
  border: none;
  height: 80px;
  width: 100%;
  color: var(--light);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heroBtns > button:first-child {
  background-color: var(--primary);
}
.heroBtns > button:last-child {
  background-color: var(--dark);
}

.heroBtns > button > svg {
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .heroWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: end;
  }
}