.featured {
  padding-block: var(--spacing);
}

.grid {
  display: grid;
  gap: 1rem;
  position: relative;
}

.grid {
  position: relative;
}

.formal {
  position: relative;
  width: 100%;
  height: 250px;
}

.street,
.casual {
  position: relative;
  width: 100%;
  height: 180px;
}

.circleText {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  color: var(--light);
  font-size: 0.625rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 1;
}

.imageTitle {
  position: absolute;
  z-index: 1;
  background-color: var(--secondary);
  color: var(--light);
  text-transform: uppercase;
  padding-inline: 1rem;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  height: 15px;
}

.imageTitle > p {
  transform: translateY(-15px);
  font-size: 1.3rem;
}

.featuredImg {
  object-fit: cover;
}
